.metismenu {
    padding: 0;
}

#sidebar-menu > ul > li > a {
    color: #babcb9;
    display: block;
    padding: 13px 20px;
    font-size: 14px;
    position: relative;
    transition: all 0.5s;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.header-title {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
    padding: 1rem;
    border-radius: .25rem;
    background-color: #e3effb;
    color: #0057b5;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #0057b5;
}


.content-page .content {
    padding: 0 15px 10px 15px;
    margin-bottom: 60px;
}

.content-page {
    overflow: hidden;
    }

/* ==============
  Card
===================*/
.card {
  border: none;
  box-shadow: 0px 0px 13px 0px rgba(236, 236, 241, 0.44);
  margin-bottom: 30px; }

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px; } }
.card-columns .card {
  margin-bottom: 30px; }

/* =============
   Nestable
============= */


/******* Page Title *******/
.page-title-box {
  padding: 20px 0px; }
  .page-title-box .page-title {
    font-size: 18px;
    margin: 0;
    line-height: 30px;
    color: #0057b5; }
  .page-title-box .breadcrumb {
    padding: 4px 0;
    background-color: transparent;
    margin-bottom: 0; }
    .page-title-box .breadcrumb a {
      color: #354558; }
      .page-title-box .breadcrumb a:hover {
        color: rgba(53, 69, 88, 0.9); }
    .page-title-box .breadcrumb .active {
      color: rgba(53, 69, 88, 0.7); }

/******* menu light *******/
.left-side-menu-light .side-menu {
  background-color: #babcb9; }
.left-side-menu-light #sidebar-menu > ul > li > a.mm-active {
  color: #4090cb !important;
  background-color: #b4b6b2;
  box-shadow: 0px 1px 1px 0px rgba(43, 46, 49, 0.07); }
.left-side-menu-light #sidebar-menu > ul > li > a:hover, .left-side-menu-light #sidebar-menu > ul > li > a:focus, .left-side-menu-light #sidebar-menu > ul > li > a:active {
  color: #4090cb; }
.left-side-menu-light #sidebar-menu > ul > li > a.waves-effect .waves-ripple {
  background: rgba(255, 255, 255, 0.4); }
.left-side-menu-light #sidebar-menu > ul > li > a .badge-light {
  background-color: #30419b;
  color: #ffffff; }
.left-side-menu-light #sidebar-menu .submenu li a:hover {
  background-color: #babcb9;
  color: #4090cb; }
.left-side-menu-light.enlarged #sidebar-menu > ul > li:hover > a {
  color: #4090cb !important;
  background-color: #b4b6b2 !important; }
.left-side-menu-light.enlarged #sidebar-menu > ul > li:hover > ul a:hover {
  color: #4090cb !important; }
.left-side-menu-light.enlarged #sidebar-menu > ul > li > a:hover, .left-side-menu-light.enlarged #sidebar-menu > ul > li > a:active, .left-side-menu-light.enlarged #sidebar-menu > ul > li > a:focus {
  color: #4090cb !important; }
.left-side-menu-light.enlarged #sidebar-menu ul ul {
  background-color: #babcb9 !important;
  box-shadow: 0px 0px 13px 0px rgba(236, 236, 241, 0.44); }
.left-side-menu-light .navbar-custom {
  background-color: #383c40; }
  .left-side-menu-light .navbar-custom .button-menu-mobile {
    color: #e9ecef;
    background-color: #383c40; }
  .left-side-menu-light .navbar-custom .btn-light {
    background-color: #42464b !important;
    border-color: #42464b !important;
    color: #ced4da !important;
    box-shadow: none !important; }
  .left-side-menu-light .navbar-custom .notification-list .nav-link {
    color: #ced4da; }
  .left-side-menu-light .navbar-custom .notification-list .app-search .form-control::placeholder {
    color: #ced4da; }
  .left-side-menu-light .navbar-custom .notification-list .app-search .form-control,
  .left-side-menu-light .navbar-custom .notification-list .app-search .form-control:focus {
    border: 1px solid #42464b;
    background: #42464b;
    color: #ced4da; }


#wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%; }

/******* Topbar *******/
.topbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
      height: 60px;
      background-color: #dadada;
  z-index: 999; }
  .topbar .topbar-left {
    background-color: #f9f9f9;
    float: left;
    text-align: center;
    height: 70px;
    position: relative;
    width: 240px;
    z-index: 1; }
    .topbar .topbar-left .logo {
      line-height: 70px;
      color: #ffffff;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px; }
      .topbar .topbar-left .logo .logo-sm {
        display: none; }
  .topbar .navbar-custom {
    background-color: #f9f9f9;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0 10px 0 0;
    margin-left: 240px;
    min-height: 70px; }
    .topbar .navbar-custom .navbar-right .dropdown-toggle:after {
      content: initial; }

/******* Sidemenu *******/
.side-menu {
  width: 240px;
  z-index: 10;
  background: #f9f9f9;
  bottom: 0;
  margin-top: 0;
  padding-bottom: 30px;
  position: fixed;
  top: 70px; }
  .side-menu .waves-effect .waves-ripple {
    background-color: rgba(249, 249, 249, 0.4); }


.nav-link.active {
  color: white !important;
}
#sidebar-menu {
  padding-top: 10px; }
  #sidebar-menu > ul > li.mm-active > a > span > .menu-arrow i {
    transform: rotate(90deg); }
  #sidebar-menu > ul > li > a {
    color: #6b6b6b;
    display: block;
    padding: 13px 20px;
    font-size: 14px;
    position: relative;
    transition: all 0.5s;
    font-family: "Poppins", sans-serif;
    font-weight: 500; }
    #sidebar-menu > ul > li > a:hover, #sidebar-menu > ul > li > a:focus, #sidebar-menu > ul > li > a:active {
      color: #6b6b6b;
      text-decoration: none; }
    #sidebar-menu > ul > li > a > span {
      margin-left: 7px; }
    #sidebar-menu > ul > li > a i {
      line-height: 1;
      width: 20px;
      display: inline-block;
      vertical-align: middle; }
    #sidebar-menu > ul > li > a .badge {
      margin-top: 3px; }
    #sidebar-menu > ul > li > a.mm-active {
      color: #86d464 !important;
      background-color: white; }
  #sidebar-menu .menu-title {
    padding: 12px 20px !important;
    letter-spacing: 1px;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    color: #e1e1e0; }
  #sidebar-menu .submenu li.mm-active > a {
    color: #86d464;
    background-color: #f9f9f9; }
  #sidebar-menu .submenu li a {
    padding: 8px 20px 8px 10px;
    color: #babcb9;
    display: block;
    transition: all 0.5s; }
    #sidebar-menu .submenu li a:focus {
      background-color: left-bar; }
    #sidebar-menu .submenu li a:hover {
      background-color: #f9f9f9;
      color: rgba(255, 255, 255, 0.8); }
  #sidebar-menu .submenu > li > a {
    padding-left: 50px; }
  #sidebar-menu .submenu > li .submenu > li > a {
    padding-left: 70px; }

/******* Enlarged *******/
.enlarged .slimScrollDiv {
  overflow: inherit !important; }
.enlarged .slimScrollBar {
  visibility: hidden; }
.enlarged #wrapper .topbar .topbar-left {
  width: 70px !important; }
  .enlarged #wrapper .topbar .topbar-left .logo .logo-light {
    display: none;
    opacity: 0; }
  .enlarged #wrapper .topbar .topbar-left .logo .logo-sm {
    display: block;
    line-height: 70px;
    font-size: 28px; }
.enlarged #wrapper .navbar-custom {
  margin-left: 70px; }
.enlarged #wrapper #sidebar-menu .menu-title,
.enlarged #wrapper #sidebar-menu .menu-arrow,
.enlarged #wrapper #sidebar-menu .badge {
  display: none !important; }
.enlarged #wrapper #sidebar-menu .mm-collapse.mm-show {
  display: none; }
.enlarged #wrapper #sidebar-menu .nav.mm-collapse {
  height: inherit !important; }
.enlarged #wrapper #sidebar-menu ul ul {
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #f9f9f9; }
.enlarged #wrapper .left.side-menu {
  position: absolute;
  width: 70px;
  z-index: 5; }
  .enlarged #wrapper .left.side-menu #sidebar-menu > ul > li {
    position: relative;
    white-space: nowrap; }
    .enlarged #wrapper .left.side-menu #sidebar-menu > ul > li:hover > a {
      position: relative;
      width: 260px;
      color: #86d464;
      background-color: #f3f3f3;
      z-index: 1; }
      .enlarged #wrapper .left.side-menu #sidebar-menu > ul > li:hover > a.open :after, .enlarged #wrapper .left.side-menu #sidebar-menu > ul > li:hover > a.mm-active :after {
        display: none; }
    .enlarged #wrapper .left.side-menu #sidebar-menu > ul > li:hover > ul {
      display: block;
      left: 70px;
      position: absolute;
      width: 190px;
      height: auto !important; }
      .enlarged #wrapper .left.side-menu #sidebar-menu > ul > li:hover > ul a {
        box-shadow: none;
        padding: 8px 20px;
        position: relative;
        width: 190px;
        z-index: 6; }
        .enlarged #wrapper .left.side-menu #sidebar-menu > ul > li:hover > ul a:hover {
          color: #ffffff; }
    .enlarged #wrapper .left.side-menu #sidebar-menu > ul > li:hover a span {
      display: inline-block; }
    .enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a {
      padding: 15px 20px;
      transition: none; }
      .enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a:hover, .enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a:active, .enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a:focus {
        color: #ffffff;
        background-color: #f3f3f3; }
      .enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a i {
        font-size: 18px;
        margin-left: 5px;
        margin-right: 20px !important; }
      .enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a span {
        display: none;
        padding-left: 10px; }
  .enlarged #wrapper .left.side-menu #sidebar-menu ul ul li:hover > ul {
    display: block;
    left: 190px;
    margin-top: -36px;
    position: absolute;
    width: 190px; }
  .enlarged #wrapper .left.side-menu #sidebar-menu ul ul li > a span.float-right {
    position: absolute;
    right: 20px;
    top: 12px;
    transform: rotate(270deg); }
  .enlarged #wrapper .left.side-menu #sidebar-menu ul ul li.mm-active a {
    color: #ffffff; }
.enlarged #wrapper .content-page {
  margin-left: 70px; }
.enlarged #wrapper .footer {
  left: 70px; }



/*
 Template Name: Stexo - Responsive Bootstrap 4 Admin Dashboard
 Author: Themesdesign
 Website: www.themesdesign.in
 File: Main Css File
*/
/* ============
TABLES OF CSS
---------------

01. General
02. Bootstrap-custom
03. Helper
04. Waves Effect
05. Demo Only
06. Menu
07. Buttons
08. Cards
09. Email
10. Calender
11. Ecommerce
12. Project
13. Alerts
14. Pagination
15. Popover & Tooltip
16. Rangeslider
17. Sweet alert
18. Tab & Accordion
19. Form Elements
20. Form Validation
21. Form advanced
22. Form editor
23. Form summernote
24. Form upload
25. Form wizard
26. Chart
27. Tables
28. widgets
29. Maps
30. Timeline
31. Invoice
32. Pricing
33. Extra pages
34. Account pages
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
/* ==============
  General
===================*/
body {
  background-repeat: repeat;
  background: #f9f9f9;
  font-family: "Poppins", sans-serif;
  color: #354558;
  font-size: 13px; }

@media (max-width: 991px) {
  body {
    overflow-x: hidden; } }
html {
  overflow-x: hidden;
  position: relative;
  min-height: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: "Poppins", sans-serif; }

h6 {
  font-size: 14px; }

p {
  line-height: 1.7; }

svg {
  max-width: 100%; }

* {
  outline: none !important; }

a {
  color: #616f80; }
  a:hover, a:active, a:focus {
    outline: 0;
    text-decoration: none; }

b, strong {
  font-weight: 500; }

.container-alt {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }



.slimScrollDiv {
  height: auto !important; 
}

.chart1 {
  height: 300px;
  width: 100%;
}

.fixedDiv {
  position: fixed;
  top: 60px;
  z-index: 9;
  background-color: white;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  width: 1125px;
}