<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>CargoSim</title>
        
        <link href="static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://c3js.org/css/c3-eb4b9be8.css">
        <link href="static/assets/css/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="static/assets/font-awesome-4.7.0/css/font-awesome.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        
    </head>
    

    <body>
        <style>
            table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

        </style>
            <style>
              
              
              .bar {
                  fill: #5f89ad;
              }
              
              .axis {
                  font-size: 13px;
              }
              
              .axis path,
              .axis line {
                  fill: none;
                  display: none;
              }
              
              .label {
                  font-size: 13px;
              }
          </style>
          
        <div id="wrapper">

            <div class="container-fluid">
    
              <div class="card mt-3 mb-0">
                  <div class="card-body">
                      <!--button class="btn btn-info position-fixed" style="z-index: 99">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                      </button-->
                      <div id="tabs">
                        <ul>
                          <li><a href="#tabs-1">Avl-CAP</a></li>
                          <li><a href="#tabs-2">Target-REV</a></li>
                          <li><a href="#tabs-3">Simulation</a></li>
                        </ul>
                        <div id="tabs-1">
                          <div class="row">
                            <div class="col-9 d-flex">
                              <div style=" height: 250px; width: 200px; padding-top: 50px; padding-left: 20px; overflow-y: auto;">
                                <h6 style="margin-left: 20px;">Flight Details</h6>
                                <ol type="A">
                                  <li id="trip_name"></li>
                                  <li id="from"></li>
                                  <li id="to"></li>
                                  <li id="aircraft"></li>
                                  <li id="sta"></li>
                                  <li id="std"></li>
                                  <li id="freq"></li>
                                </ol> 
                              </div>
                              <div  style="height: 250px; width: 200px;padding-top: 50px;">
                                <h6 style="margin-left: 20px;">Aircraft Standards</h6>
                                <ol type="A">
                                  <li id="bclass"></li>
                                  <li id="eclass"></li>
                                  <li id="ptotal"></li>
                                  <li id="ake_std"></li>
                                  <li id="pmc_std"></li>
                                  <li id="bulk_std"></li>
                                </ol> 
                              </div>
                              <div style="height: 250px; width: 200px;padding-top: 50px;">
                                <h6 style="margin-left: 20px;">Projected Passenger Load @ 100%</h6>
                                <ol type="A">
                                  <li id="ake_proj"></li>
                                  <li id="pmc_proj"></li>
                                  <li id="bulk_proj"></li>
                                </ol>
                                <h6 style="margin-left: 20px;">Cargo Capacity</h6>
                                <ol type="A">
                                  <li id="ake_avl"></li>
                                  <li id="pmc_avl"></li>
                                  <li id="bulk_avl"></li>
                                </ol>
                              </div>
                              <div style="height: 300px; width: 250px;padding-top: 50px;">
                                <h6 style="margin-left: 20px;">AKE-PMC-BULK Target</h6>
                                <ol type="A">
                                  <li id="final_ake_cbm"></li>
                                  <li id="final_ake_kgs"></li>
                                  <li id="final_pmc_cbm"></li>
                                  <li id="final_pmc_kgs"></li>
                                  <li id="final_bulk_kgs"></li>
                                </ol>
                                <h6 id="total_in_kgs"></h6>
                                <h6 id="total_in_cbm"></h6>
                                 
                              </div>
                            </div>
                            <div class="col-3 d-flex" id="graphicholder">
                              <div id="graphic" style="margin-top: 50px;"></div>
    
                            </div>
                          </div>
                        
                        </div>
                        <div id="tabs-2">
                        </div>
                        <div id="tabs-3">
                        </div>


                      </div>
                      
                      
                  </div>
              </div>

              <div class="card mt-3 mb-0">
                  <div class="card-body controls">
                        {% for item in sectors %}
                        <a href="#" id="{{item.name}}" class="btn btn-link">{{ item.name }} </a>
                            
                        {% endfor %}
                        <button onclick="simulate(0)">Simulate</button>
                        <button onclick="pause()">Pause</button>
                  </div>
              </div>
              
              <div class="card mt-3 mb-0">
                <div class="card-body">
                  <div class="form-group">
                      <p id="logger1"></p>
                      <p id="logger2"></p>
                    </div>
                </div>
              </div>

            </div>
        </div>
        <!-- END wrapper -->
          

        <!-- jQuery  -->
        <script src="https://c3js.org/js/d3-5.8.2.min-c5268e33.js"></script>
        <script src="https://c3js.org/js/c3.min-eaae2b4e.js"></script>
        <script src="static/assets/js/jquery.min.js"></script>
        <script src="static/assets/js/bootstrap.bundle.min.js"></script>
        <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
       
        

        <script>

        function updateChart(d){

          var data = d;
          
          $( "#graphic" ).remove();

          $("#graphicholder").append('<div id="graphic" style="margin-top: 50px;"></div>');

  
          //sort bars based on value
          data = data.sort(function (a, b) {
              return d3.ascending(a.value, b.value);
          })
  
          //set up svg using margin conventions - we'll need plenty of room on the left for labels
          var margin = {
              top: 15,
              right: 40,
              bottom: 15,
              left: 100
          };
          var width = 250 - margin.left - margin.right,
              height = 200 - margin.top - margin.bottom;
          var svg = d3.select("#graphic").append("svg")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
              .append("g")
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
          var x = d3.scale.linear()
              .range([0, width])
              .domain([0, d3.max(data, function (d) {
                  return d.value;
              })]);
          var y = d3.scale.ordinal()
              .rangeRoundBands([height, 0], .1)
              .domain(data.map(function (d) {
                  return d.name;
              }));
  
          //make y axis to show bar names
          var yAxis = d3.svg.axis()
              .scale(y)
              //no tick marks
              .tickSize(0)
              .orient("left");
  
          var gy = svg.append("g")
              .attr("class", "y axis")
              .call(yAxis)

          
          /*
          
          bars.data(data).enter().append("g")
          
          */

          var bars = svg.selectAll(".bar")
              .data(data)
              .enter()
              .append("g");
          
              
          //append rects
          bars.append("rect")
              .attr("class", "bar")
              .attr("y", function (d) {
                  return y(d.name);
              })
              .attr("height", y.rangeBand())
              .attr("x", 0)
              .attr("width", function (d) {
                  return x(d.value);
              });
  
          //add a value label to the right of each bar
          bars.append("text")
              .attr("class", "label")
              //y position of the label is halfway down the bar
              .attr("y", function (d) {
                  return y(d.name) + y.rangeBand() / 2 + 4;
              })
              //x position is 3 pixels to the right of the bar
              .attr("x", function (d) {
                  return x(d.value) + 3;
              })
              .text(function (d) {
                  return d.value;
              });

              d3.select('#graphic')
              .selectAll('div')
              .data(data)
              .exit()
              .remove();

            }
      </script>
      <script>

        

          $(document).ready(function() {
          
          var socket = io();
          socket.on('connect', function() {
            socket.send('my event');
          });
          socket.on('connect', function(msg){
          console.log(msg);
          });
          
          var data = [{
                  "name": "Cargo Capacity",
                  "value": 26000,
          },
              {
                  "name": "Aircraft Capacity",
                  "value": 40500,
              },
              {
                  "name": "PAX Utilization",
                  "value": 8560,
              },
              ];


            updateChart(data);

            function updateTripTable(data,aircraft,ake_cbm,ake_kgs,pmc_cbm,pmc_kgs) {
              console.log("update triptablecalled")
              console.log(data)
              document.getElementById('trip_name').textContent = "Aircraft Name - " + data[0];
              document.getElementById('from').textContent = "From Airport - " + data[1];
              document.getElementById('to').textContent = "To Airport - " + data[2];
              document.getElementById('aircraft').textContent = "Aircraft  - " + data[6];
              document.getElementById('std').textContent = "STD  - " + data[4];
              document.getElementById('sta').textContent = "STA   - " + data[5];
              document.getElementById('freq').textContent = "Frequency   - " + data[7];
              
              document.getElementById('bclass').textContent = "First Class - " + aircraft[0];
              document.getElementById('eclass').textContent = "Economy Class - " + aircraft[1];
              document.getElementById('ptotal').textContent = "Passenger Total - " + aircraft[2];
              document.getElementById('ake_std').textContent = "AKE- Standard  - " + aircraft[6];
              document.getElementById('pmc_std').textContent = "PMC- Standard  - " + aircraft[4];
              document.getElementById('bulk_std').textContent = "BULK - Standard   - " + aircraft[5];
              document.getElementById('ake_proj').textContent = "AKE - Projected   - " + aircraft[6];
              document.getElementById('pmc_proj').textContent = "PMC - Projected   - " + aircraft[7];
              document.getElementById('bulk_proj').textContent = "BULK - Projected   - " + aircraft[8];
              document.getElementById('ake_avl').textContent = "AKE - Available   - " + aircraft[9];
              document.getElementById('pmc_avl').textContent = "PMC - Available   - " + aircraft[10];
              document.getElementById('bulk_avl').textContent = "BULK - Available   - " + aircraft[11];

              var total_ake_cbm = aircraft[9] * ake_cbm
              var total_ake_kgs = aircraft[9] * ake_kgs
              var total_pmc_cbm = aircraft[10] * pmc_cbm
              var total_pmc_kgs = aircraft[10] * pmc_kgs

              console.log(total_ake_cbm,total_ake_kgs,total_pmc_cbm,total_pmc_kgs)

              document.getElementById('final_ake_cbm').textContent = "Final AKE in Cubic Metres   - " + total_ake_cbm;
              document.getElementById('final_ake_kgs').textContent = "Final AKE in Kilos   - " + total_ake_kgs;
              document.getElementById('final_pmc_cbm').textContent = "Final PMC in Cubic Metres   - " + total_pmc_cbm;
              document.getElementById('final_pmc_kgs').textContent = "Final PMC in Kilos   - " + total_ake_cbm;
              document.getElementById('final_bulk_kgs').textContent = "Final Bulk in Kilos   - " + aircraft[11];
              total_in_kgs = total_pmc_kgs + total_ake_kgs + aircraft[11]
              total_in_cbm = total_pmc_cbm + total_ake_cbm

              document.getElementById('total_in_kgs').textContent = "Total Capacity in Kilos   - " + total_in_kgs;
              document.getElementById('total_in_cbm').textContent = "Total Capacity in Cubic Metres   - " + total_in_cbm;

              //$("#aircraftnum") = aircraftnum;
              //$("#std") = STD;
              //$("#sta") = STA;
              //$("#freq") = freq;
                
            }


            $("div.controls a").click(function(){
                var $elemId = $(this).attr("id");
                
                $.ajax({
                        data : JSON.stringify( { "name": $elemId } ),
                        type : 'POST',
                        dataType: 'json',
                        contentType: 'application/json',
                        url : '/api/getFlightDetails/'
                    })
                    .done(function(data) {

                        if (data.error) {
                            console.log(data.error)
                        }
                        else {
                            console.log("excellent");
                            
                            updateTripTable(data.data, data.aircraft, data.ake_cbm,data.ake_kgs,data.pmc_cbm,data.pmc_kgs);
                            
                        }
                        

                    });


            });


          });
          
        </script>

        <script>


            

            
            function runcounter2(count){

              
              passenger_count = 0;
              p_weight = 0;
              p_volume = 0;

              cargo_count = 0;
              c_weight = 0;
              c_volume = 0;

              k = 1;
              j = 1;
              counter = 0;
              setInterval(function(){ 
                  console.log("Hi there!");
                  var txt1 = $("#logger1");
                  var txt2 = $("#logger2");
                  items = [1.25,1.2,1,.75,.33,.4,.5,1,2,2.5]
                  cargo_length = [10,20,30,40,80,100,120,110,101,102,133,128]
                  cargo_width = [10,20,30,40,80,100,120,110,101,102,133,128]
                  cargo_height = [10,20,30,40,80,100,120,110,101,102,133,128]
                  cargo_kilos = [10,20,30,40,11,12,15,18,10,20,13,13.5,12,12]
                  
                  if(k % 2 === 0){
                    counter = counter + 1;
                    passenger_count = passenger_count + 1;
                    cargo_count = cargo_count + 1;

                    var currentDate = new Date();
                    var item = items[Math.floor(Math.random() * items.length)]
                    var l = cargo_length[Math.floor(Math.random() * cargo_length.length)]
                    var b = cargo_width[Math.floor(Math.random() * cargo_width.length)]
                    var h = cargo_height[Math.floor(Math.random() * cargo_height.length)]
                    var volume = ((l/100) * (b/100) * (h/100)).toFixed(2);
                    var weight = cargo_kilos[Math.floor(Math.random() * cargo_kilos.length)]

                    p_weight = p_weight + item*18;
                    c_volume = c_volume + volume;
                    c_weight = c_weight + weight;



                    txt1.text(  "Person " + counter + " Loaded -  Passenger baggage" + item + "Kg");
                    txt2.text(  "Cargo " + counter + " Loaded -"+"Vol" + volume + " Cubic Metres " + "Dims"+ l + "cm" + "X" + b + "cm" + h + "cm" + weight*18 + " - Kilos" );
                    
                    var data = [{
                            "name": "Cargo Capacity",
                            "value": 26000,
                    },
                        {
                            "name": "Aircraft Capacity",
                            "value": 40500,
                        },
                        {
                            "name": "PAX Utilization",
                            "value": 8560,
                            
                        },
                        {
                          "name":"Cargo Weight",
                          "value": c_weight.toFixed(2),

                        },
                        {
                          "name":"Passenger Bag Weight",
                          "value": p_weight.toFixed(2),

                        },
                        

                        ];

                        updateChart(data);
                        console.log(data);



                  }
                  k = k + 1;
                  j = j + 1;
                 }, 250);
            }
        </script>
        <script>

          function simulate(){

            runcounter2();

          }


        </script>
          <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
          <link rel="stylesheet" href="/resources/demos/style.css">
          <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        
        <script>
          $( function() {
          $( "#tabs" ).tabs();
          } );
        </script>

    </body>

</html>